@charset "UTF-8";

:root {
    --th-bg-main: #2b2b5b;
    --th-main: #2dd8de;
    --th-text-main: #c1e2f4;
    --th-accent-pale: #7999cb;
    --th-accent-strong: #1a278a;
}

body {
    background-color: var(--th-bg-main);
    color: var(--th-text-main);
}

body div {
    border: solid black 2px;
    padding: 120px;
}

form {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    background: var(--th-accent-strong);
    padding: 10px;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    color: var(--th-text-main);
    font-weight: bold;
    line-height: 25px;
    margin: 10px;
}

.formButton {
    grid-column: 1/3;
    color: var(--th-main);
    background-color: var(--th-accent-pale);
}

.errorPageDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
