@charset "UTF-8";

a {
	display: block;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background: #298F85;
	color: #061614;
	font-weight: bold;
	line-height: 25px;
}

body {
	background-color: #0E2E2B;
}

form {
	color: #40E0D0;
}