<mat-card>
    <mat-card-header>
        <mat-card-title class="custom-font">Login</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>
                <mat-icon class="labelIcon">mail</mat-icon>
                <span>Enter your email address</span>
            </mat-label>
            <input matInput type='text'>
            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="iconFix">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>
                <mat-icon class="labelIcon">lock</mat-icon>
                <span>Enter your password</span>
            </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="iconFix">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="flexSplit">
            <div class="left"> Remember me</div>
            <div class="right"> Forget password</div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button class="myButton custom-font center">Login</button>
    </mat-card-actions>

</mat-card>