/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

// GLOBAL Variable
$color-main: #669ba5;
$color-bg: #0e2546;
$color-accent: #0c1247;
$color-error: #cc0063;
$size-font-default: 1.5rem;

.custom-font {
    font-family: 'Fira Code', monospace !important;
    font-size: $size-font-default  !important;
    padding: $size-font-default/2 !important;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: $color-bg;
    color: $color-main;
    font-family: 'Fira Code', monospace !important;
    font-size: $size-font-default  !important;
    padding: $size-font-default/2 !important;
}

mat-form-field {
    width: 100%;
}

.iconFix {
    font-size: 24px !important;
    padding: 10px;
}

.myButton {
    padding: $size-font-default/2 $size-font-default  !important;
    font-size: $size-font-default  !important;
    color: $color-accent;
    background-color: $color-main;
}

.labelIcon {
    padding-right: 1rem;
    position: relative;
    top: 2px;
}

.flexSplit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
        margin-left: 1rem;
        align-items: left;
    }
    .right {
        margin-right: 1rem;
        align-items: right;
    }
    .center {
        align-items: center;
    }
}